/* Root Styles CSS */
:root {
  background-color: white;
  font-family: Avenir, Helvetica, sans-serif;
  color: black;
}


/* Header CSS */
.header-container {
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

.image {
  height: 100px;
}

.header-h1 {
  color: black;
}

.header-button {
  border-color: red;
  background-color:  red;
  cursor: pointer;
  font-weight: bold;
}

.header-description {
  font-size: 1em;
  color: black;
  font-weight: bold;
  text-align: center;
}


/* Home page CSS */
#main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px;
}

.card {
  flex: 1 1 300px; 
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}


.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.top-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.bottom-container {
  padding: 15px;
}

.bottom-container h3 {
  color: black;
  margin: 10px 0;
  font-size: 1em;
}

.bottom-container a {
  color: black;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 0;
  background: none;
  border: none;
  margin-top: 10px;
}

.bottom-container a:hover {
  text-decoration: underline;
}

.bottom-container .link-container {
  margin-top: 10px;
}

.donation-button,
.readmore-button {
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  text-align: left;
  margin: 0;
  font-weight: normal;
  display: inline;
}

.donation-button:hover,
.readmore-button:hover {
  text-decoration: underline;
}

/* Detail Page CSS */
.gift-info {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.image-container {
  padding-left: 100px; 
  width: 40vw;
}

.image-container img {
  width: 80%;
  border-radius: 10px;
}

.gift-details {
  width: 45vw;
  padding-left: 30px;
}

.gift-details h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

.gift-details a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 12px 20px;
  color: white;
  background-color: #e91e1e;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.gift-details a#donationLink {
  background-color: #e91e1e;
}

.gift-details a#volunteerLink {
  background-color: #4CAF50; 
}

.gift-details p {
  margin-top: 20px;
  font-size: 16px;
  color: gray;
} 


/* 404 Page CSS */
.fof-container{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color:rgb(26, 25, 25);
  font-size: 50px;
}
